---

interface Props {
	name: string
  friendlyName: string
  value: unknown
}

const {name, friendlyName, value} = Astro.props

function getElementType(value: unknown) {
  switch (typeof value) {
    case 'number':
      return 'number'
    default:
      return 'text'
  }
}

---
<style>
  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .input-name {
    text-align: left;
  }
</style>

<label class="input-container" for={name}>
  <span class="input-name">{friendlyName}</span>
  <input class="input-field" id={name} name={name} type={getElementType(value)} value={value as string}/>
</label>